body {
    margin: 0;
    height: 100vh;
    background: #87ceeb;
    overflow: hidden;
    font-family: Arial, sans-serif;
 }

 /* ===== ROAD ===== */
 .road {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28vh;
    background: #2b2b2b;
 }

 .road::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 5px;
    background: repeating-linear-gradient(to right,
          white 0 30px,
          transparent 40px 80px);
    transform: translateY(-50%);
 }

 /* ===== CAR ===== */
 .car {
    position: absolute;
    bottom: 8vh;
    left: -150px;
    width: 140px;
    height: 45px;
    background: red;
    border-radius: 10px;
    animation: moveCar 10s linear infinite;
 }

 .car::before,
 .car::after {
    content: "";
    position: absolute;
    bottom: -12px;
    width: 28px;
    height: 28px;
    background: black;
    border-radius: 50%;
 }

 .car::before {
    left: 15px;
 }

 .car::after {
    right: 15px;
 }

 .stop {
    animation-play-state: paused;
 }

 /* ===== SIGNAL ===== */
 .signal-area {
    position: absolute;
    right: 4vw;
    bottom: 28vh;
    transform: scale(1);
 }

 .signal-box {
    background: #111;
    padding: 16px;
    border-radius: 18px;
    text-align: center;
 }

 .timer {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
 }

 .light {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    margin: 10px auto;
 }

 .red.active {
    background: red;
    box-shadow: 0 0 20px red;
 }

 .yellow.active {
    background: yellow;
    box-shadow: 0 0 20px yellow;
 }

 .green.active {
    background: limegreen;
    box-shadow: 0 0 20px limegreen;
 }

 .pole {
    width: 16px;
    height: 14vh;
    background: #555;
    margin: auto;
 }

 /* ===== BUTTON ===== */
 button {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    background: #00e676;
    cursor: pointer;
 }

 /* ===== RESPONSIVE ===== */
 @media (max-width: 600px) {
    .road {
       position: absolute;
       bottom: 0;
       width: 100%;
       height: 28vh;
       background: #2b2b2b;
    }

    .signal-area {
       transform: scale(1.2);
    }

    .car {
       width: 110px;
    }
 }

 @keyframes moveCar {
    from {
       left: -160px;
    }

    to {
       left: 100%;
    }
 }

